{{#with data.entry as |entry|}}
<div class="col-12 col-md-4 mb-auto" id="entry-container">
  <div class="d-block card mb-3 data-row">
    <div class="card-header">
      <h3 class="card-title">Summary</h3>
    </div>
    <div class="card-body">
      <div class="datagrid">

        {{#each ../data.fields}}
        <div class="datagrid-item">
          {{#if this.subscription}}
          <div class="datagrid-title text-red">{{this.actualName}}</div>
          {{else}}
          <div class="datagrid-title">{{this.actualName}}</div>
          {{/if}}
          <div class="datagrid-content">

            {{#if (eq this.type "boolean")}}
            {{#if (eq this.options.0.value (lookup entry this.name))}}
            <span class="status status-green">{{lookup entry this.name}}</span>
            {{else}}
            <span class="status status-red"> {{lookup entry this.name}}</span>
            {{/if}}

            {{else if (eq this.type "dropdown")}}
            {{lookup entry this.name}}

            {{else if (eq this.type "date")}}
            {{formatDate (lookup entry this.name)}}

            {{else if (eq this.type "image")}}
            {{#if (lookup entry this.name)}}
            <a data-fslightbox="gallery" href="{{lookup entry this.name}}">
              <img src="{{resizeCloudinaryUrl (lookup entry this.name) 't_w-250'}}" alt="" style="max-width: 150px;">
            </a>
            {{else}}
            <a data-fslightbox="gallery" href="/static/images/no-image-placement.png">
              <img src="/static/images/no-image-placement.png" alt="" style="max-width: 150px;">
            </a>
            {{/if}}

            {{else if (eq this.type "file")}}
            {{#if (lookup entry this.name)}}
            <a href="{{lookup entry this.name}}" target="_blank">Download File</a>
            {{else}}
            <span>No file uploaded</span>
            {{/if}}

            {{else if this.subscription}}
            <span class="text-danger fw-bold">{{lookup entry this.name}} <sup>{{../../data.project.currency}} /
                Month</sup></span>
            {{else}}
            {{lookup entry this.name}}
            {{/if}}

          </div>
        </div>
        {{/each}}

      </div>
    </div>

  </div>
</div>
{{/with}}