<div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Linked Documents</h3>
</div>
{{#if data.files}}
<div style="overflow-x: auto;">
    <table class="table table-hover mb-0" style="white-space: nowrap; width: 100%;">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Category</th>
                <th>Size</th>
                <th>Upload Date</th>
                <th>Uploaded By</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.files}}
            <tr file-id="{{this._id}}" onclick="getFileModal(this)" style="cursor: pointer;">
                <td class="text-blue">{{this.name}}</td>
                <td>
                    <span class="badge">{{camelCaseToNormalString this.category}}</span>
                </td>
                <td>{{this.size}} Kb</td>
                <td>{{formatTime this.createdAt}}</td>
                <td>
                    {{#if (eq this.uploadedBy.actorType 'user')}}
                    <span class="badge bg-green-lt">
                        AKEurope Team
                    </span>
                    {{else if (eq this.uploadedBy.actorType 'benificiary')}}
                    <span class="badge bg-orange-lt">
                        Beneficiary
                    </span>
                    {{else}}
                    <span class="badge bg-red-lt">
                        {{this.actorName}}
                    </span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div class="card-body">
    {{#if beneficiary}}
    <div class="text-center py-4">So far no reports have been added. As they are added to beneficiaries, these will be
        listed here.</div>
    {{/if}}
    {{#if order}}
    <div class="text-center py-4">No documents found.</div>
    {{/if}}
</div>
{{/if}}