{{#with data.customer as |customer|}}
<div class="col-12 col-md-6"  id="customer-container">

  <div class="card mb-3 data-row">
    <div class="card-header d-flex justify-content-between">
      <h3 class="card-title">Customer Information</h3>
      <button class="btn btn-icon btn-primary cursor-pointer ps-md-2 pe-md-3" data-bs-toggle="modal" data-bs-target="#modal-{{customer._id}}">
        <i class="ti ti-pencil-plus"></i>
        <span class="d-none d-md-block ms-2">Edit Customer</span>
      </button>
    </div>
    <div class="card-body">
      <div class="datagrid">

        <div class="datagrid-item">
          <div class="datagrid-title">Name</div>
          <div class="datagrid-content">
            <span>{{customer.name}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Phone</div>
          <div class="datagrid-content">
            <span>{{customer.tel}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Email</div>
          <div class="datagrid-content">
            <span>{{customer.email}}</span>
          </div>
        </div>

        {{#if customer.organization}}
        <div class="datagrid-item">
          <div class="datagrid-title">Organization</div>
          <div class="datagrid-content">
            <span>{{customer.organization}}</span>
          </div>
        </div>
        
        <div class="datagrid-item">
          <div class="datagrid-title">Organization Address</div>
          <div class="datagrid-content">
            <span>{{customer.address}}</span>
          </div>
        </div>
        {{else}}

        <div class="datagrid-item">
          <div class="datagrid-title">Address</div>
          <div class="datagrid-content">
            <span>{{customer.address}}</span>
          </div>
        </div>
        {{/if}}

      </div>
    </div>

  </div>

</div>
{{/with}}