<div class="card" id="payments-container">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
    <div class="dropdown">
      <button class="btn btn-primary btn-icon ps-md-2 pe-md-3" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="ti ti-plus"></i>
        <span class="d-none d-md-block ms-2">Select New Beneficiaries</span>
      </button>
      <div class="dropdown-menu">
        <span class="dropdown-header">Bank Transfer</span>
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-new-order">
          Bulk Selection
        </a>
        <span class="dropdown-header">Credit Cards</span>
        {{#each data.projects}}
        <a class="dropdown-item" onclick="loadDonationOverlay('{{this.slug}}')">
          {{this.name}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{#if data.orders}}
  <div class="p-md-3">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.orders}}
        <tr>
          <td>
            <a href="/order/{{this._id}}">{{this.orderNo}}</a>
            {{#if this.monthlySubscription}} <i class="ti ti-refresh ms-1"></i> {{/if}}
          </td>
          <td>{{formatDate this.createdAt}}</td>
          <td>
            {{#if (eq this.stripeInfo.paymentMethodType 'card')}} <i class="ti ti-credit-card"></i> {{/if}}
            {{#if (eq this.stripeInfo.paymentMethodType 'apple_pay')}} <i class="ti ti-brand-apple"></i> {{/if}}
            {{#if (eq this.stripeInfo.paymentMethodType 'google_pay')}} <i class="ti ti-brand-google"></i> {{/if}}
            {{#unless this.stripeInfo}} <i class="ti ti-home"></i> {{/unless}}
            <span>
              {{#if this.monthlySubscription}}
              {{this.totalCostSingleMonth}} {{this.currency}}
              {{else}}
              {{this.totalCost}} {{this.currency}}
              {{/if}}
            </span>
          </td>
          <td>
            <span>{{{getOrderIcon this.status}}} </span>
            <span class="ms-1">{{capitalizeFirstLetter this.status}}</span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}
</div>