{{#if (eq order.status 'draft')}}
<div class="col-12 pb-2 entry" entry-id="{{entry.detail._id}}" order-id="{{order._id}}">
    <div class="card border-0 flex-row h-100 rounded-3">
        <div class="pt-1 w-100 h-100 d-flex flex-column">
            <div class="card-title mb-1 fs-3"> Beneficiary # {{entry.detail.ser}} </div>
            {{#if entry.detail.dateOfBirth}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dateOfBirth}}</div>
            {{/if}}
            {{#if entry.detail.dob}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dob}}</div>
            {{/if}}
            {{#each entry.costs as |cost|}}
            {{#if (gt cost.totalCost 0)}}

            {{#if cost.prevOrder}}
            <div class="d-flex p-3 rounded-3 mt-2 border popover-card cursor-pointer">
                <span class="me-2" data-bs-toggle="popover" data-bs-placement="top"
                    data-bs-content="Already selected in <span class='text-blue'>{{capitalizeFirstLetter cost.prevOrder.status}}-{{cost.prevOrder.orderNo}}</span>. Invoice will expire on {{formatDate cost.prevOrder.expiry}}."
                    data-bs-html="true">
                    <span class="ti ti-lock"></span>
                </span>
                <div class="text-start">
                    <div class="fw-bold text-primary">{{camelCaseToNormalString cost.fieldName}}</div>
                    <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} / Month</div>
                </div>
            </div>
            {{else}}
            <div class="flex-shrink mt-2" onclick="selectBeneficiary(this)">
                <div subscription="{{cost.fieldName}}"
                    class="cursor-pointer position-relative d-flex align-items-start p-3 rounded-3 border shadow-none subscription {{#if (eq cost.totalCost cost.totalOrderedCost)}}active{{/if}}">
                    {{#if (eq cost.totalCost cost.totalOrderedCost)}}
                    <span class="ti ti-check text-blue me-2" style="padding-top: 3px"></span>
                    {{else}}
                    <span class="ti ti-plus text-black me-2" style="padding-top: 3px"></span>
                    {{/if}}
                    <div class="text-start">
                        <div class="fw-bold text-primary">{{camelCaseToNormalString cost.fieldName}}</div>
                        {{#if ../order.monthlySubscription}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} / Month</div>
                        {{else}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} x
                            {{../order.project.months}} month(s)</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}


            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/if}}

{{#if (or (eq order.status 'pending payment') (eq order.status 'processing'))}}
{{#if (gt entry.totalCost 0)}}
<div class="col-12 pb-2 entry" entry-id="{{entry.detail._id}}" order-id="{{order._id}}">
    <div class="card border-0 flex-row h-100 rounded-3">
        <div class="pt-1 w-100 h-100 d-flex flex-column">
            <div class="card-title mb-1 fs-3"> Beneficiary # {{entry.detail.ser}} </div>
            {{#if entry.detail.dateOfBirth}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dateOfBirth}}</div>
            {{/if}}
            {{#if entry.detail.dob}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dob}}</div>
            {{/if}}
            {{#each entry.costs as |cost|}}
            {{#if (gt cost.totalCost 0)}}
            {{#if (eq cost.totalCost cost.totalOrderedCost)}}
            <div class="flex-shrink mt-2 popover-card cursor-pointer">
                <div subscription="{{cost.fieldName}}"
                    class="cursor-pointer position-relative d-flex align-items-start p-3 rounded-3 border shadow-none subscription {{#if (eq cost.totalCost cost.totalOrderedCost)}}active{{/if}}">
                    <span data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="You have selected this subscription. To change your selection go to first slide."
                        data-bs-html="true">
                        <span class="ti ti-lock-check text-blue me-2" style="padding-top: 3px"></span>
                    </span>
                    <div class="text-start">
                        <div class="fw-bold text-primary">{{camelCaseToNormalString cost.fieldName}}</div>
                        {{#if ../order.monthlySubscription}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} / Month</div>
                        {{else}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} x
                            {{../order.project.months}} month(s)</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/if}}
{{/if}}

{{#if (eq order.status 'paid')}}
{{#if (gt entry.totalCost 0)}}
<div class="col-12 pb-2 entry" entry-id="{{entry.detail._id}}" order-id="{{order._id}}">
    <div class="card border-0 flex-row h-100 rounded-3">
        <div class="pt-1 w-100 h-100 d-flex flex-column">
            <div class="card-title mb-1 fs-3"> Beneficiary # {{entry.detail.ser}} </div>
            {{#if entry.detail.dateOfBirth}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dateOfBirth}}</div>
            {{/if}}
            {{#if entry.detail.dob}}
            <div class="text-muted">Age: {{getAgeInYearsAndMonths entry.detail.dob}}</div>
            {{/if}}
            {{#each entry.costs as |cost|}}
            {{#if (gt cost.totalCost 0)}}
            {{#if (eq cost.totalCost cost.totalOrderedCost)}}
            <div class="flex-shrink mt-2 popover-card cursor-pointer">
                <div subscription="{{cost.fieldName}}"
                    class="cursor-pointer position-relative d-flex align-items-start p-3 rounded-3 border shadow-none subscription paid">
                    <span data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="Subscription has been added to your dashboard." data-bs-html="true">
                        <span class="ti ti-lock-check text-green me-2" style="padding-top: 3px"></span>
                    </span>
                    <div class="text-start">
                        <div class="fw-bold text-green">{{camelCaseToNormalString cost.fieldName}}</div>
                        {{#if ../order.monthlySubscription}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} / Month</div>
                        {{else}}
                        <div class="text-secondary">{{cost.totalCost}} {{../order.currency}} x
                            {{../order.project.months}} month(s)</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/if}}
{{/if}}