<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Partner · akeurope</title>

  <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="akeurope.org" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />

  <link href="/tabler/css/tabler.min.css?1692870487" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  {{>components/rootStyling}}
</head>

<body>

  <script src="/tabler/js/demo-theme.min.js?1692870487"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>

  <div class="page">
    <header class="navbar navbar-expand-md d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
          aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="/dashboard">
            <img src="/static/images/logo.png" width="20px">
          </a>
        </div>
        <div class="navbar-nav flex-row order-md-last">
          <div class="d-none d-md-flex">
            <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip"
              data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
              </svg>
            </a>
            <a href="?theme=light" class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip"
              data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7">
                </path>
              </svg>
            </a>
            <div class="nav-item dropdown d-none d-md-flex me-3 notifications-container">
              {{> notificationsDropdown}}
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
              aria-label="Open user menu">
              <span class="avatar avatar-sm">{{getFirstTwoLetters data.userName}}</span>
              <div class="d-none d-xl-block ps-2">
                <div>{{data.userName}}</div>
                <div class="mt-1 small text-secondary">{{data.userRole}}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="/logout" class="dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header class="navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
          <div class="container-xl">
            <div class="row flex-fill align-items-center">
              <div class="col">
                <ul class="navbar-nav">
                  <li class="nav-item {{#if (eq data.activeMenu 'customers')}} active {{/if}}">
                    <a class="nav-link" href="/dashboard">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>
                      </span>
                      <span class="nav-link-title">
                        Home
                      </span>
                    </a>
                  </li>
                  {{#if (findInArray data.role 'viewWidgets')}}
                  <li class="nav-item {{#if (eq data.activeMenu 'widgets')}} active {{/if}}">
                    <a class="nav-link" href="/widgets">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-fidget-spinner">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M18 16v.01" />
                          <path d="M6 16v.01" />
                          <path d="M12 5v.01" />
                          <path d="M12 12v.01" />
                          <path
                            d="M12 1a4 4 0 0 1 2.001 7.464l.001 .072a3.998 3.998 0 0 1 1.987 3.758l.22 .128a3.978 3.978 0 0 1 1.591 -.417l.2 -.005a4 4 0 1 1 -3.994 3.77l-.28 -.16c-.522 .25 -1.108 .39 -1.726 .39c-.619 0 -1.205 -.14 -1.728 -.391l-.279 .16l.007 .231a4 4 0 1 1 -2.212 -3.579l.222 -.129a3.998 3.998 0 0 1 1.988 -3.756l.002 -.071a4 4 0 0 1 -1.995 -3.265l-.005 -.2a4 4 0 0 1 4 -4z" />
                        </svg>
                      </span>
                      <span class="nav-link-title">
                        Widgets
                      </span>
                    </a>
                  </li>
                  {{/if}}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      {{{body}}}
      <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                  Copyright &copy; 2025
                  <a href="https://akeurope.org" class="link-secondary">Alkhidmat Europe </a>.
                  All rights reserved.
                </li>
                <li class="list-inline-item">
                  <a href="./changelog.html" class="link-secondary" rel="noopener">
                    v1.0.0
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="/tabler/js/tabler.min.js"></script>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fslightbox/index.js"></script>

  <script>

    document.querySelector('.card').addEventListener('click', function (event) {
      event.stopPropagation();
    });

    const clearNotification = function (elem) {
      const id = $(elem).attr("log-id");
      $.ajax({
        url: `/clearNotification/${id}`,
        method: "POST",
        contentType: 'application/json',
        success: function (response) {
          if ($(elem).closest(".card").find(".list-group-item").length == 1) {
            $(elem).closest(".card").html(`
              <div class="card-header">
                  <h3 class="card-title">No new notifications</h3>
              </div>
              <div class="card-body text-center">
                  <button type="button" class="btn" onclick="$(this).closest('.dropdown-menu').removeClass('show');">
                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                      Close
                  </button>
              </div>
              `);
            $(".notification-check").remove();
          } else {
            $(elem).closest(".list-group-item").remove();
          }

        },
        error: function (xhr, status, error) {
          alert(xhr.responseText);
        }
      })
    }

    fetch('/socket-url')
      .then(response => response.json())
      .then(data => {
        socketEvents(data.socketUrl);
      })
      .catch(error => console.error('Error fetching socket URL:', error));

    const socketEvents = function (url) {

      const socket = io(url);

      socket.on('connect', () => {
        console.log('Successfully connected to the server!');
      });

      socket.on('connect_error', (err) => {
        console.error('Connection failed:', err);
      });

      socket.on('new-notification', (data) => {
        $.ajax({
          url: '/getFreshNotifications',
          method: 'GET',
          success: (response) => {
            $('.notifications-container').html(response);
            document.querySelector('.card').addEventListener('click', function (event) {
              event.stopPropagation();
            });
          },
          error: (error) => {
            console.log(error);
            alert(error);
          }
        })
      });
    }

    function initializePopovers() {
      var popoverTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'));
      popoverTriggerList.forEach(function (popoverTriggerEl) {
        new bootstrap.Popover(popoverTriggerEl);
      });
    }

    initializePopovers();

    document.addEventListener('click', function (event) {
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
      popoverTriggerList.forEach(function (popoverTriggerEl) {
        const popover = bootstrap.Popover.getInstance(popoverTriggerEl);
        if (popover && popover._isShown && !popoverTriggerEl.contains(event.target)) {
          popover.hide();
        }
      });
    });

    $(document).ajaxStart(function () {
      $(document).ajaxSend(function (event, jqXHR, settings) {
        console.log("URL:", settings.url);
      });
    });

    const loadDonationOverlay = function (slug) {

      $('#iframe-loading-overlay').remove();

      var $loadingOverlay = $('<div id="iframe-loading-overlay"></div>').css({
        position: 'fixed',
        top: '0',
        left: '0',
        width: '100vw',
        height: '100vh',
        background: 'rgba(0, 0, 0, 0.7)',
        opacity: 0,
        zIndex: '9998',
      });

      function showLoadingOverlay() {
        $loadingOverlay.stop().animate({ opacity: 1 }, 300);
      }

      function hideLoadingOverlay() {
        $loadingOverlay.stop().fadeOut(300);
        $loadingOverlay.remove();
      }

      $('body').append($loadingOverlay);
      showLoadingOverlay();

      var $iframe = $('<iframe id="iframe-loaded" allow="payment"></iframe>')
        .attr('src', `/overlay/${slug}?email={{data.customer.email}}`)
        .css({
          "display": "block",
          "margin": "0",
          "padding": "0",
          "border": "0",
          "width": "100%",
          "height": "100%",
          "position": "fixed",
          "opacity": 0,
          "top": "0",
          "left": "0",
          "right": "0",
          "bottom": "0",
          "transform": "translateZ(100px)",
          "z-index": "9999"
        })
        .on('load', function () {
          $(this).animate({ opacity: 1 }, 300);
        });

      $(this).animate({ opacity: 1 }, 300).promise().done(function () {
        $('body').css({
          overflow: 'hidden',
          height: '100vh'
        });
      });
      $('body').append($iframe);

      $(window).on('message', function (event) {
        if (event.originalEvent.data === 'close-overlay') {
          $iframe.remove();
          $('body').css({
            overflow: 'scroll',
            height: 'auto'
          })
          hideLoadingOverlay();
        }
      });
    }


  </script>

</body>

</html>