<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle"> Overview </div>
        <h2 class="page-title"> Invoice {{data.order.orderNo}} <span class="d-flex ms-1">{{{getOrderIcon
            data.order.status}}}</span>
        </h2>
      </div>
      {{#if data.order.customer}}
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-primary d-none d-md-inline-block" id="#editOrder" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}">
            {{#if (eq data.order.status 'draft')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus me-1">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
            Edit Selection
            {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-file-text me-1">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
              <path d="M9 9l1 0" />
              <path d="M9 13l6 0" />
              <path d="M9 17l6 0" />
            </svg>
            View Selection
            {{/if}}
          </a>
          <a href="#" class="btn btn-primary d-md-none btn-icon" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}" aria-label="modal-order-{{data.order._id}}">
            {{#if (eq data.order.status 'draft')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus m-0">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
            {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-file-text m-0">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
              <path d="M9 9l1 0" />
              <path d="M9 13l6 0" />
              <path d="M9 17l6 0" />
            </svg>
            {{/if}}
          </a>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="m-3 pt-4 m-auto container-xl" id="data-container">
  {{> showOrderEntries}}
  <div class="card mb-3">
    <div class="card-body">
      {{>components/invoice-status order=data.order body=true}}
    </div>
  </div>
  <div class="row row-deck row-cards">
    <div class="col-12 col-md-6 mb-auto d-flex flex-column">
      {{> showOrderInvoice}}
      {{> showOrder}}
    </div>
    <div class="d-block col-12 col-md-6">
      <div class="card mb-3" id="files-container">
        {{> showEntityFiles data=data order=true}}
      </div>
      {{> showOrderLogs}}
    </div>
  </div>
</div>

{{#if data.order.customer}}
{{> emptyOrderModal}}
{{/if}}

<script src="/static/orders.js"></script>
<script>

  const refreshContainers = function (modal) {
    const hrefOrder = `/getOrderData/{{data.order._id}}`;
    loadOrderInContainer(modal, hrefOrder);
    const hrefLogs = `/getOrderLogs/{{data.order._id}}`;
    getOrderLogs(modal, hrefLogs);
    const hrefProjects = `/getOrderProjects/{{data.order._id}}`;
    loadOrderProjects(hrefProjects);
    const hrefFiles = `/filesByEntityRender/{{data.order._id}}`;
    loadOrderFiles(hrefFiles);
  }

  const loadOrderFiles = function (href) {
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $(`#files-container`).html(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadOrderInContainer = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $(`#order-container`).replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadOrderProjects = function (href) {
    if (!href) {
      return alert('no href provided');
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#projects-container').replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadEntriesInProjectCard = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    const projectCard = $(elem).closest('.project-in-order-page');
    const slug = $(elem).closest('.project-in-order-page').attr('project-slug');
    const orderId = $(elem).closest('.project-in-order-page').attr('order-id');
    const toggleState = $(elem).closest('.project-body').hasClass('d-none') ? 'open' : 'close';
    const url = `/getPaginatedEntriesForOrderPage/${slug}/${href}&orderId=${orderId}&toggleState=${toggleState}`;
    $.ajax({
      url,
      method: 'GET',
      success: function (response) {
        $(projectCard).replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const getOrderLogs = function (elem, href) {
    href = href || $(elem).attr("my-href");
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#logs-container').replaceWith(response);
      },
      error: function (error) {
        $('#logs-container').html(error.responseText);
      }
    })
  }

  const getEditOrderModal = function (elem) {
    const orderId = $(elem).attr("order-id");

    const modalExists = $(document).find(`#button-${orderId}`).length > 0;

    if (modalExists) {
      return $(`#button-${orderId}`).trigger("click");
    }

    $.ajax({
      url: `/getEditOrderModal/${orderId}`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-${orderId}`).trigger("click");
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }

  const toggleProject = function (elem) {
    const projectCard = $(elem).closest('.project-in-order-page');
    const projectBody = $(projectCard).find('.project-body');
    $(projectBody).toggleClass('d-none');
  }

  const emailInvoiceFromBody = function (elem) {
    const orderId = $(elem).attr('order-id');
    if (!orderId) {
      alert('no order id found');
      return;
    }
    const currentBtnHTML = $(elem).html();
    $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span> Sending email...`);
    $.ajax({
      url: `/emailInvoice/${orderId}`,
      method: 'POST',
      contentType: 'application/json',
      success: (response) => {
        $(elem).html('Sent!');
        setTimeout(function () {
          $(elem).html(currentBtnHTML);
        }, 3000);
      },
      error: (error) => {
        $(elem).html(currentBtnHTML);
        alert(error.responseText);
      },
    });
  };


</script>