<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col col-md-auto">
        {{#if data.order.projectSlug}}
        {{#if data.order.monthlySubscription}}
        <h2 class="page-title">
          <span class="badge">
            Order # {{data.order.orderNo}} | {{data.order.total}} {{data.order.currency}} | {{slugToString
            data.order.projectSlug}}
          </span>
        </h2>
        {{else}}
        <h2 class="page-title">
          <span class="badge me-1">
            Order # {{data.order.orderNo}} | {{data.order.total}} {{data.order.currency}} | {{slugToString
            data.order.projectSlug}} | Paid
          </span>
          {{{getOrderIcon
          data.order.status}}}
        </h2>
        {{/if}}
        {{else}}
        <h2 class="page-title">
          Order # {{data.order.orderNo}}
          <span class="d-flex ms-1">{{{getOrderIcon
            data.order.status}}}</span>
        </h2>
        {{/if}}
        </h2>
      </div>
      {{#if data.order.customer}}
      <div class="col-md-auto col-12 ms-auto d-print-none">
        <div class="btn-list">
          {{#if (and data.order.stripeInfo data.order.monthlySubscription)}}
          <a class="btn btn-primary-outline d-md-inline-block"
            href="/manage-subscription-from-order/{{data.order._id}}?subscriptionId={{data.order.stripeInfo.subscriptionId}}&paymentIntentId={{data.order.stripeInfo.paymentIntentId}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
              <path d="M3 10h18" />
              <path d="M16 19h6" />
              <path d="M19 16l3 3l-3 3" />
              <path d="M7.005 15h.005" />
              <path d="M11 15h2" />
            </svg>
            Manaage Credit Card
          </a>
          {{/if}}

          {{#if data.order.stripeInfo.invoiceId}}
          <a class="btn btn-primary-outline d-md-inline-block w-100 w-md-auto"
            href="/show-stripe-receipt/{{data.order.stripeInfo.invoiceId}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-external-link">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
              <path d="M11 13l9 -9" />
              <path d="M15 4h5v5" />
            </svg>
            Receipt
          </a>
          {{/if}}

          {{#if (eq data.order.status 'draft')}}
          <a href="#" class="btn btn-primary d-none d-md-inline-block" id="#editOrder" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus me-1">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
            Edit Selection
          </a>
          <a href="#" class="btn btn-primary d-md-none btn-icon" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}" aria-label="modal-order-{{data.order._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus m-0">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
          </a>
          {{/if}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="m-3 mx-auto mb-auto container-xl" id="data-container">

  {{#if data.order.projects}}
  {{> showOrderEntries}}
  {{/if}}

  {{#unless data.order.stripeInfo}}
  <div class="card mb-3">
    <div class="card-body">
      {{>components/invoice-status order=data.order body=true}}
    </div>
  </div>
  {{/unless}}

  <div class="row row-deck row-cards">
    <div class="d-block col-md-6 col-12">
      <div class="card mb-3" id="files-container">
        {{> showEntityFiles data=data order=true}}
      </div>
    </div>
    <div class="d-block col-md-6 col-12">
      {{> showOrderLogs}}
    </div>
  </div>

</div>

{{#if data.order.customer}}
{{#if (findInArray data.role 'bulk-select')}}
{{> emptyOrderModal}}
{{/if}}
{{/if}}

<script src="/static/orders.js"></script>

<script>

  const refreshContainers = function (modal) {
    const hrefOrder = `/getOrderData/{{data.order._id}}`;
    loadOrderInContainer(modal, hrefOrder);
    const hrefLogs = `/getOrderLogs/{{data.order._id}}`;
    getOrderLogs(modal, hrefLogs);
    const hrefProjects = `/getOrderProjects/{{data.order._id}}`;
    loadOrderProjects(hrefProjects);
    const hrefFiles = `/filesByEntityRender/{{data.order._id}}`;
    loadOrderFiles(hrefFiles);
  }

  const loadOrderFiles = function (href) {
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $(`#files-container`).html(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadOrderInContainer = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $(`#order-container`).replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadOrderProjects = function (href) {
    if (!href) {
      return alert('no href provided');
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#projects-container').replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadEntriesInProjectCard = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    const projectCard = $(elem).closest('.project-in-order-page');
    const slug = $(elem).closest('.project-in-order-page').attr('project-slug');
    const orderId = $(elem).closest('.project-in-order-page').attr('order-id');
    const toggleState = $(elem).closest('.project-body').hasClass('d-none') ? 'open' : 'close';
    const url = `/getPaginatedEntriesForOrderPage/${slug}/${href}&orderId=${orderId}&toggleState=${toggleState}`;
    $.ajax({
      url,
      method: 'GET',
      success: function (response) {
        $(projectCard).replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const getOrderLogs = function (elem, href) {
    href = href || $(elem).attr("my-href");
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#logs-container').replaceWith(response);
      },
      error: function (error) {
        $('#logs-container').html(error.responseText);
      }
    })
  }

  const getEditOrderModal = function (elem) {
    const orderId = $(elem).attr("order-id");

    const modalExists = $(document).find(`#button-${orderId}`).length > 0;

    if (modalExists) {
      return $(`#button-${orderId}`).trigger("click");
    }

    $.ajax({
      url: `/getEditOrderModal/${orderId}`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-${orderId}`).trigger("click");
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }

  const toggleProject = function (elem) {
    const projectCard = $(elem).closest('.project-in-order-page');
    const projectBody = $(projectCard).find('.project-body');
    $(projectBody).toggleClass('d-none');
  }

  const emailInvoiceFromBody = function (elem) {
    const orderId = $(elem).attr('order-id');
    if (!orderId) {
      alert('no order id found');
      return;
    }
    const currentBtnHTML = $(elem).html();
    $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span> Sending email...`);
    $.ajax({
      url: `/emailInvoice/${orderId}`,
      method: 'POST',
      contentType: 'application/json',
      success: (response) => {
        $(elem).html('Sent!');
        setTimeout(function () {
          $(elem).html(currentBtnHTML);
        }, 3000);
      },
      error: (error) => {
        $(elem).html(currentBtnHTML);
        alert(error.responseText);
      },
    });
  };


</script>