<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PXFJLX2J');</script>
    <!-- End Google Tag Manager -->

    <title>{{data.project.name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler-flags.min.css">
    {{> widgetStyling}}
    <style>
        .month,
        .amount {
            width: 100%;
            color: #066fd1 !important;
            font-weight: bold;
            border: 0px;
            box-shadow: none;
        }

        .currency-input-container {
            position: relative;
            border: 1px solid #dce1e7;
            border-radius: 4px;
            box-shadow: none;
        }
    </style>

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXFJLX2J" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="payment-overlay">
        <div class="row justify-content-center">

            <div id="project-card" class=" card shadow-lg border-0 ms-md-2 me-md-3 p-0 rounded-md-4 overflow-hidden">
                <div class="card-body p-4 d-flex flex-column align-items-start">
                    <img class="mb-3"
                        src="https://res.cloudinary.com/miscellaneous/image/upload/v1737903106/akeurope/Group_427320398.png"
                        style="height: 40px">
                    <h2 class="fw-medium mb-2">{{data.project.slogan}}</h2>
                    <div class="flex-grow-1 w-100 h-100">
                        {{> productEntries}}
                    </div>
                    <a href="{{data.portalUrl}}" target="_blank" class="d-none d-md-block mt-4 text-small">Manage your
                        donation</a>
                </div>
            </div>

            <div id="slide-parent" class="card shadow-lg me-md-2 rounded-md-4 overflow-hidden">
                <div id="slide-wrapper">
                    <div id="slide-container">
                        <div class="slide" id="slide-select-amount">
                            <div class="header">
                                <div class="d-flex align-content-center justify-content-center my-3">
                                    <svg fill="none" height="28" viewBox="0 0 28 28" width="28" style="color: #1bc31b"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="icon-fill shrink-0 font-size-28 text-green-80 me-2" aria-hidden="true">
                                        <g fill="currentColor">
                                            <path clip-rule="evenodd"
                                                d="m15.0393 2.44995c-.6707-.24772-1.4079-.24772-2.0786 0l-8.30715 3.06797c-.39274.14504-.65355.51939-.65355.93807v7.54411c0 3.6861 1.95965 6.6874 4.28911 8.8073 1.16017 1.0557 2.38789 1.8689 3.45309 2.4137 1.1081.5668 1.9145.779 2.2578.779s1.1497-.2122 2.2578-.779c1.0652-.5448 2.2929-1.358 3.4531-2.4137 2.3294-2.1199 4.2891-5.1212 4.2891-8.8073v-7.54411c0-.41868-.2608-.79303-.6536-.93807zm-2.7715-1.876139c1.1179-.412868 2.3465-.412868 3.4644 0l8.3071 3.067969c1.1783.43514 1.9607 1.55819 1.9607 2.81421v7.54411c0 4.4389-2.3618 7.9375-4.943 10.2865-1.2952 1.1786-2.6702 2.092-3.8885 2.7151-1.1754.6012-2.3332.9984-3.1685.9984s-1.9931-.3972-3.1685-.9984c-1.21831-.6231-2.59328-1.5365-3.88847-2.7151-2.58125-2.349-4.94303-5.8476-4.94303-10.2865v-7.54411c0-1.25602.78243-2.37907 1.96066-2.81421z"
                                                fill-rule="evenodd"></path>
                                            <path
                                                d="m18.2906 11.75h-.2535v-1.1855c0-2.19278-1.7415-4.02451-3.9182-4.06361-.0595-.00107-.1783-.00107-.2378 0-2.1767.0391-3.91819 1.87083-3.91819 4.06361v1.1855h-.25354c-.39069 0-.70937.4028-.70937.9003v5.9463c0 .4969.31868.9035.7094.9035h8.5812c.3907 0 .7094-.4066.7094-.9035v-5.9463c0-.4974-.3187-.9003-.7094-.9003zm-3.4867 3.8674v1.7967c0 .2058-.1723.3799-.3784.3799h-.8509c-.2061 0-.3785-.1741-.3785-.3799v-1.7967c-.1999-.1966-.3162-.4684-.3162-.7691 0-.5698.4408-1.0594 1.0013-1.082.0594-.0024.1783-.0024.2377 0 .5605.0226 1.0013.5122 1.0013 1.082 0 .3007-.1164.5725-.3163.7691zm1.5623-3.8674h-4.7323v-1.1855c0-1.30621 1.0623-2.38623 2.3661-2.38623s2.3662 1.08002 2.3662 2.38623z">
                                            </path>
                                        </g>
                                    </svg>
                                    <h2 class="fw-normal">Secure donation</h2>
                                </div>
                            </div>

                            <div class="body">

                                <div id="order-total" class="mb-2">
                                    {{> noProductTotal}}
                                </div>

                            </div>

                            <div id="vipps-checkout" class="d-none footer border-0" style="margin-bottom: -7px">
                                <div class="" id="one-time-save-donation">
                                    <button id="vipps-btn-one-time"
                                        class="btn donation-btn w-100 px-3 fw-bold fs-3 py-2 btn-vipps"
                                        onclick="handleOneTimeVipps(this, 'product')">
                                        <span style="color: white; font-size: 16px; font-weight: bold;">Pay with</span>
                                        <span style="margin-left:-19px; margin-right: -38px">
                                            {{{getOrderIcon 'vipps'}}}
                                        </span>
                                    </button>
                                    <div class="hover:bg-gray-100 cursor-pointer text-dark w-100 d-flex justify-content-center pt-3 text-small fw-bold"
                                        onclick="saveDonationAmount(this)">
                                        <div style="margin-right: -29px;" class="d-flex align-items-center">
                                            <span>Not use vipps</span>
                                            <i class="ti ti-arrow-narrow-right-dashed fs-3"
                                                style="margin-top: -1px;margin-left: 8px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="global-checkout" class="d-none footer border-0">
                                <button id="global-one-time-donation"
                                    class="btn donation-btn btn-primary w-100 py-3 fw-bold fs-3"
                                    onclick="saveDonationAmount(this)">
                                    <i class="ti ti-credit-card-pay me-2"></i>
                                    <span>Pay Now</span>
                                </button>
                            </div>

                        </div>

                        <div class="slide" id="slide-user-info">

                            <div
                                class="header border-bottom d-flex align-items-center justify-content-center position-relative pt-4 pb-2">
                                <button class="back-btn btn btn-icon btn-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M15 6l-6 6l6 6" />
                                    </svg>
                                </button>
                                <h3 class="fw-bold">Enter your details</h3>
                            </div>

                            <div class="body">
                                <div class="mb-3 position-relative" id="donor-info-form">
                                    <div class="form-floating">
                                        <input name="firstName" type="text"
                                            class="user-info form-control rounded-top-3 rounded-bottom-0"
                                            id="first-name" placeholder="Your name">
                                        <label for="first-name">First name</label>
                                    </div>
                                    <div class="form-floating">
                                        <input name="lastName" type="text" class="user-info form-control rounded-0"
                                            id="last-name" placeholder="Last name">
                                        <label for="last-name">Last name</label>
                                    </div>
                                    <div class="form-floating">
                                        <input name="email" type="email" class="user-info form-control rounded-0"
                                            id="email" placeholder="your@email.com">
                                        <label for="floatingPassword">Email address</label>
                                    </div>
                                    <div id="tel-wrapper">
                                        <div class="dropdown dropup">
                                            <a href="#" class="btn bg-transparent" id="tel-toggle"
                                                data-bs-toggle="dropdown"></a>
                                            <div class="dropdown-menu" id="tel-codes"> </div>
                                        </div>
                                        <div class="form-floating">
                                            <input name="tel" type="tel"
                                                class="user-info form-control rounded-bottom-3 rounded-top-0"
                                                id="contact-number" placeholder="9292929" inputmode="tel">
                                            <label for="contact-number">Phone number</label>
                                        </div>
                                    </div>

                                </div>

                                <div id="donor-concents">

                                    <div class="d-flex">
                                        <div class="form-check">
                                            <input name="organization" class="user-info form-check-input"
                                                type="checkbox" id="organizationCheckbox">
                                            <label class="form-check-label" for="organizationCheckbox">
                                                Donate as an organization
                                            </label>
                                        </div>
                                        <span class="ms-2 form-help" data-bs-toggle="popover" data-bs-placement="top"
                                            data-bs-content="Select if you're donating on behalf of an organization. The donation receipt will be issued to that organization.">?</span>
                                    </div>

                                    <div id="organizationInputContainer" class="d-none mb-3"></div>

                                    <div class="d-flex">
                                        <div class="form-check">
                                            <input name="anonymous" class="user-info form-check-input" type="checkbox"
                                                id="anonymousCheckbox">
                                            <label class="form-check-label" for="anonymousCheckbox">
                                                Donate anonymously
                                            </label>
                                        </div>
                                        <span class="ms-2 form-help" data-bs-toggle="popover" data-bs-placement="top"
                                            data-bs-content="We won't display your information in any public feeds.">?</span>
                                    </div>

                                </div>
                            </div>


                            <div class="footer border-0">
                                <button id="save-user-btn" class="btn btn-primary w-100 py-3 fw-bold fs-3"
                                    onclick="saveUserInfo(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
                                        <path d="M3 10h18" />
                                        <path d="M16 19h6" />
                                        <path d="M19 16l3 3l-3 3" />
                                        <path d="M7.005 15h.005" />
                                        <path d="M11 15h2" />
                                    </svg>
                                    <span>Continue</span>
                                </button>
                            </div>


                        </div>

                        <div class="slide" id="slide-payment-info">
                            <div
                                class="header border-bottom d-flex align-items-center justify-content-center position-relative pt-4 pb-2">
                                <button class="back-btn btn btn-icon btn-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M15 6l-6 6l6 6" />
                                    </svg>
                                </button>
                                <h3 class="fw-bold">You donate</h3>
                            </div>

                            <div class="body">
                                <div class="mb-4">
                                    <h3 class="fw-normal">Choose a payment method</h3>
                                    <div class="btn-group-vertical w-100" role="group">
                                        <input type="radio" class="btn-check" name="btn-radio-vertical"
                                            id="btn-radio-vertical-1" autocomplete="off" checked="">
                                        <label for="btn-radio-vertical-1" type="button"
                                            class="rounded-top-3 btn py-2 fs-3 active" data-value="creditCard"
                                            onclick="selectPaymentBtn(this)">Credit
                                            Card</label>
                                        <input type="radio" class="btn-check" name="btn-radio-vertical"
                                            id="btn-radio-vertical-2" autocomplete="off">
                                        <label for="btn-radio-vertical-2" type="button" id="expressPaySelector"
                                            data-value="expressPay" class="rounded-bottom-3 btn py-2 fs-3"
                                            onclick="selectPaymentBtn(this)">Apple or Google
                                            Pay</label>
                                    </div>
                                </div>
                                <div id="payment-form" class="position-relative">
                                    <div class="form-floating">
                                        <div id="card-number-element"
                                            class="card-input form-control rounded-top-3 rounded-bottom-0"></div>
                                        <label for="contact-number">Card Number</label>
                                    </div>
                                    <div class="row g-0">
                                        <div class="form-floating col-6">
                                            <div id="card-expiry-element" class="card-input form-control rounded-0"
                                                style="border-bottom-left-radius: var(--tblr-border-radius-lg)!important">
                                            </div>
                                            <label for="contact-number">Expiration</label>
                                        </div>
                                        <div class="form-floating col-6">
                                            <div id="card-cvc-element" class="card-input form-control rounded-0"
                                                style="border-bottom-right-radius: var(--tblr-border-radius-lg)!important">
                                            </div>
                                            <label for="contact-number">CVC</label>
                                        </div>
                                    </div>
                                    <div id="payment-error"
                                        class="text-error text-red fw-bold p-3 rounded-3 mt-3 border border-red d-none">
                                    </div>
                                </div>
                            </div>

                            <div class="footer border-0">
                                <div class="d-flex justify-content-between flex-wrap py-3">
                                    <hr class="w-100 mb-3">
                                    <div class="text-dark fw-strong">Total</div>
                                    <div class="text-dark fw-strong" id="stripe-total">300 NOK / month</div>
                                </div>

                                <div class="w-100 d-none" id="express-checkout-wrapper">
                                    <button id="processing-btn" class="btn btn-primary w-100 py-3 fw-bold fs-3 d-none">
                                        <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                                        Processing
                                    </button>
                                    <div id="express-checkout-element"> </div>
                                </div>

                                <button id="stripe-submit" class="btn btn-primary w-100 py-3 fw-bold fs-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
                                        <path d="M3 10h18" />
                                        <path d="M16 19h6" />
                                        <path d="M19 16l3 3l-3 3" />
                                        <path d="M7.005 15h.005" />
                                        <path d="M11 15h2" />
                                    </svg>
                                    <span>Pay Now</span>
                                </button>
                            </div>
                        </div>

                        <div class="slide" id="slide-thank-you">
                            <div
                                class="header d-flex align-items-center justify-content-center position-relative pt-4 pb-2">
                                <h3 class="fw-normal">Thank you for your payment!</h3>
                            </div>
                            <div class="d-flex h-100 justify-content-center align-items-center">
                                <dotlottie-player
                                    src="https://lottie.host/9606ee9c-1a99-4dd7-ae0e-669c1092ad3e/9JpFanQfov.lottie"
                                    background="transparent" speed="1" style="width: 300px; height: 300px" direction="1"
                                    loop autoplay></dotlottie-player>
                            </div>
                            <div class="footer border-0">
                                <a class="btn btn-primary w-100 py-3 fw-bold fs-3" id="show-dashboard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-home-hand">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M18 9l-6 -6l-9 9h2v7a2 2 0 0 0 2 2h3.5" />
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2" />
                                        <path
                                            d="M16 17.5l-.585 -.578a1.516 1.516 0 0 0 -2 0c-.477 .433 -.551 1.112 -.177 1.622l1.762 2.456c.37 .506 1.331 1 2 1h3c1.009 0 1.497 -.683 1.622 -1.593c.252 -.938 .378 -1.74 .378 -2.407c0 -1 -.939 -1.843 -2 -2h-1v-2.636c0 -.754 -.672 -1.364 -1.5 -1.364s-1.5 .61 -1.5 1.364v4.136z" />
                                    </svg>
                                    <span>Go to your dashboard</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="d-none d-md-block col-12 text-center mt-3 fs-5">
                <a class="cursor-pointer text-white m-auto" data-bs-html="true" data-bs-toggle="popover"
                    data-bs-placement="top" data-bs-content="
                    <h4 class='mb-1'>Is my donation secure?</h4>
                    Yes, we use industry-standard SSL technology to keep your information secure. We partner with Stripe, the industry's established payment processor trusted by some of the world's largest companies.
                    Your sensitive financial information never touches our servers. We send all data directly to Stripe's PCI-compliant servers through SSL.
                    ">
                    Is my donation secure?
                </a>
                <span class="mx-2 text-white">·</span>
                <a class="cursor-pointer text-white m-auto" data-bs-html="true" data-bs-toggle="popover"
                    data-bs-placement="top" data-bs-content="
                    <h4 class='mb-1'>Can I cancel my recurring donation?</h4> 
                    Of course. You always remain in full control of your recurring donation, and you’re free to change or cancel it at any time.
                    ">
                    Can I cancel my recurring donation?
                </a>
            </div>

            <div class="d-md-none col-12 p-3 fs-4 card border-0">
                <div class="faq-item">
                    <h4 class="mb-1 fw-normal toggle-faq" style="cursor: pointer;">
                        <i class="ti ti-chevron-right me-1 transition"></i>
                        Is my donation secure?
                    </h4>
                    <div class="faq-answer d-none mb-3">
                        Yes, we use industry-standard SSL technology to keep your information secure. We partner with
                        Stripe, the industry's established payment processor trusted by some of the world's largest
                        companies.
                        Your sensitive financial information never touches our servers. We send all data directly to
                        Stripe's PCI-compliant servers through SSL.
                    </div>
                </div>

                <div class="faq-item mt-1">
                    <h4 class="mb-1 fw-normal toggle-faq" style="cursor: pointer;">
                        <i class="ti ti-chevron-right me-1 transition"></i>
                        Can I cancel my recurring donation?
                    </h4>
                    <div class="faq-answer d-none mb-3">
                        Of course. You always remain in full control of your recurring donation, and you’re free to
                        change or cancel it at any time.
                    </div>
                </div>

                <a id="manage-donation" href="{{data.portalUrl}}" target="_blank" class="mt-1 text-small">Manage your
                    donation</a>
            </div>

        </div>
        <button id="close-overlay" class="btn rounded-circle btn-icon text-dark p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta24/dist/js/tabler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/static/maskList.js"></script>
    <script src="/static/vippsFrontEnd.js"></script>
    <script>

        const orderCompleted = async function (elem, data, currentBtnHtml) {
            await drawOrderEntries();
            const orderId = $('#product-entries').attr('order-id');
            await $.ajax({
                url: `/product-order-customer/${orderId}/${data.customerId}`,
                method: 'POST',
                contentType: 'application/json',
            });
            $(elem).removeClass('bg-danger').html(currentBtnHtml);
            $('#slide-container').css({ transform: `translateX(-${3 * 100}%)` });
            $('.back-btn').attr({ index: 3 });
            $('#show-dashboard').attr({
                href: data.dashboardLink,
                target: '_blank'
            });
            triggerEvent('paymentSuccessful', {
                project: '{{slugToString data.project.name}}',
                transaction_id: data.orderNo,
                amount: data.amount,
                currency: data.currency,
                orderType: data.monthly ? 'Monthly Subscription' : 'One Time Payment',
                date: Date.now()
            });
        };

        // STRIPE CHARGE ONE TIME

        const handleOneTimePayment = async function () {
            const stripe = Stripe(
                '{{data.publicKey}}',
            );

            const orderId = $('#product-entries').attr('order-id');

            const data = await $.ajax({
                url: `/product-payment-intent/${orderId}/{{data.project.slug}}`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    email: $('[name=email]').val(),
                    firstName: $('[name=firstName]').val(),
                    lastName: $('[name=lastName]').val(),
                    tel: $('[name=tel]').val(),
                    organization: $('[name=organization]').is(':checked') ? $('#organizationName').val() : '',
                    anonymous: $('[name=anonymous]').is(':checked'),
                    countryCode: localStorage.getItem('countryCode'),
                }),
            })

            const { cardNumber, elements } = await mountStripeElems(stripe, data.clientSecret);

            await mountExpressCheckout(stripe, data.clientSecret, cardNumber, false, elements, data.invoiceId);

            return true;
        }

        const chargeOneTime = async function (stripe, clientSecret, cardNumber, elements, invoiceId) {

            const { elem, currentBtnHtml } = initializePaymentSlide(elements);

            try {

                let paymentIntent, error;

                if (cardNumber) {
                    ({ paymentIntent, error } = await stripe.confirmCardPayment(clientSecret, {
                        payment_method: {
                            card: cardNumber,
                            billing_details: {
                                name: `${$('[name=firstName]').val()} ${$('[name=lastName]').val()}`,
                                email: $('[name=email]').val(),
                            },
                        },
                    }));
                    if (error) {
                        console.error("Payment Intent Error:", error);
                        showCardError(elem, error.message, currentBtnHtml);
                        return;
                    }
                } else if (elements) {
                    const orderId = $('#product-entries').attr('order-id');
                    ({ paymentIntent, error } = await stripe.confirmPayment({
                        elements,
                        clientSecret,
                        confirmParams: {
                            return_url: `https://partner.akeurope.org/widget-payment-success/${orderId}/{{data.project.slug}}`,
                        },
                        redirect: "if_required",
                    }));
                    if (error) {
                        console.error("Payment Intent Error:", error);
                        showCardError(elem, error.message, currentBtnHtml);
                        return;
                    }
                }

                const orderId = $('#product-entries').attr('order-id');

                const paymentData = await $.ajax({
                    url: `/product-one-time/${orderId}/{{data.project.slug}}`,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        paymentIntentId: paymentIntent.id,
                        paymentMethodId: paymentIntent.payment_method,
                        invoiceId,
                        email: $('[name=email]').val(),
                    }),
                });

                if (paymentData.success) {
                    await orderCompleted(elem, paymentData, currentBtnHtml);
                    console.log('one time payment completed');
                } else {
                    console.log(paymentData);
                    showCardError(elem, paymentData.responseText, currentBtnHtml);
                }

            } catch (error) {
                console.log(error);
                showCardError(elem, error.message || error.responseText || error, currentBtnHtml);
            }
        }

        // STRIPE CHARGE MONTHLY

        const handleMonthlyPayment = async function () {

            const stripe = Stripe(
                '{{data.publicKey}}',
            );

            const orderId = $('#product-entries').attr('order-id');

            const data = await $.ajax({
                url: `/create-setup-intent/${orderId}/{{data.project.slug}}`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    email: $('[name=email]').val(),
                    firstName: $('[name=firstName]').val(),
                    lastName: $('[name=lastName]').val(),
                    tel: $('[name=tel]').val(),
                    organization: $('[name=organization]').is(':checked') ? $('#organizationName').val() : '',
                    anonymous: $('[name=anonymous]').is(':checked'),
                    countryCode: localStorage.getItem('countryCode'),
                }),
            })

            const { cardNumber, elements } = await mountStripeElems(stripe, data.clientSecret);

            await mountExpressCheckout(stripe, data.clientSecret, cardNumber, true, elements, data.invoiceId);

            return true;

        }

        const initializePaymentSlide = (elements) => {

            let elem, currentBtnHtml;
            if (elements) {
                elem = $('#processing-btn');
                $('#processing-btn').removeClass('d-none');
                $('#express-checkout-element').addClass('d-none');
                currentBtnHtml = $('#processing-btn').html();
                $(elem).html(`
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    Processing
                `);
                $('#payment-error').addClass('d-none');
            } else {
                elem = $('#stripe-submit');
                currentBtnHtml = $('#stripe-submit').html();
                $(elem).html(`
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    Processing
                `);
                $('#payment-error').addClass('d-none');
            }
            return { elem, currentBtnHtml };

        }

        const startMonthlySubscription = async function (stripe, clientSecret, cardNumber, elements) {

            const { elem, currentBtnHtml } = initializePaymentSlide(elements);

            try {

                let setupIntent, error;

                if (cardNumber) {
                    ({ setupIntent, error } = await stripe.confirmCardSetup(clientSecret, {
                        payment_method: {
                            card: cardNumber,
                            billing_details: {
                                name: `${$('[name=firstName]').val()} ${$('[name=lastName]').val()}`,
                                email: $('[name=email]').val(),
                            },
                        },
                    }));

                    if (error) {
                        console.error("SetupIntent Error:", error);
                        showCardError(elem, error.message, currentBtnHtml);
                        return;
                    }
                } else if (elements) {
                    const orderId = $('#product-entries').attr('order-id');
                    ({ setupIntent, error } = await stripe.confirmSetup({
                        elements,
                        clientSecret,
                        confirmParams: {
                            return_url: `https://partner.akeurope.org/widget-payment-success/${orderId}/{{data.project.slug}}`,
                        },
                        redirect: "if_required",
                    }));
                    if (error) {
                        console.error("Payment Intent Error:", error);
                        showCardError(elem, error.message, currentBtnHtml);
                        return;
                    }
                }

                if (setupIntent.status === "requires_action" && setupIntent.next_action) {
                    ({ paymentIntent, error } = await stripe.confirmCardPayment(clientSecret));

                    if (error) {
                        console.error("3D Secure Authentication Failed:", error);
                        showCardError(elem, error.message, currentBtnHtml);
                        return;
                    }

                    setupIntent = paymentIntent;
                }

                const orderId = $('#product-entries').attr('order-id');

                const subscriptionData = await $.ajax({
                    url: `/create-subscription/${orderId}/{{data.project.slug}}`,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        paymentMethodId: setupIntent.payment_method,
                        email: $('[name=email]').val(),
                    }),
                });

                if (subscriptionData.success) {
                    await orderCompleted(elem, subscriptionData, currentBtnHtml);
                    console.log('subscription completed');
                } else {
                    console.log(subscriptionData);
                    showCardError(elem, subscriptionData, currentBtnHtml);
                }

            } catch (error) {
                console.log(error);
                showCardError(elem, error.message || error.responseText || error, currentBtnHtml);
            }
        }

        // STRIPE MOUNT ELEMENTS

        const mountStripeElems = async function (stripe, clientSecret) {

            const elements = stripe.elements({ clientSecret });

            const elementStyles = {
                base: {
                    fontFamily: 'Roboto',
                    fontSize: '15px',
                    fontWeight: 'normal',
                    '::placeholder': { color: 'transparent' },
                },
                invalid: { color: '#e3342f' },
            };

            const elementClasses = {
                base: 'form-control stripe-input',
                focus: 'form-control-focus',
                invalid: 'is-invalid',
            };

            const cardNumber = elements.create('cardNumber', {
                style: elementStyles,
                classes: elementClasses,
                placeholder: '1234 1234 1234 1234',
            });
            const cardExpiry = elements.create('cardExpiry', { style: elementStyles, classes: elementClasses, placeholder: '12 / 34' });
            const cardCvc = elements.create('cardCvc', { style: elementStyles, classes: elementClasses, placeholder: '123' });
            $('.card-input').html('');
            cardNumber.mount('#card-number-element');
            cardExpiry.mount('#card-expiry-element');
            cardCvc.mount('#card-cvc-element');

            function showPlaceholder(element) {
                element.update({ style: { base: { '::placeholder': { color: 'lightgrey' } } } });
            }

            function hidePlaceholder(element) {
                element.update({ style: { base: { '::placeholder': { color: 'transparent' } } } });
            }

            function handleFloatingLabel(element, parentSelector) {
                let isFilled = false;
                element.on('focus', function () {
                    $(parentSelector).addClass('active');
                    $(parentSelector).addClass('typing');
                    showPlaceholder(element);
                });

                element.on('blur', function () {
                    $(parentSelector).removeClass('typing');
                    if (isFilled) {
                        return;
                    }
                    hidePlaceholder(element);
                    $(parentSelector).removeClass('active');
                });

                element.on('change', function (event) {
                    if (event.empty) {
                        isFilled = false;
                    } else {
                        isFilled = true;
                        $(parentSelector).addClass('active');
                        showPlaceholder(element);
                    }
                });
            }

            handleFloatingLabel(cardNumber, '#card-number-element');
            handleFloatingLabel(cardExpiry, '#card-expiry-element');
            handleFloatingLabel(cardCvc, '#card-cvc-element');

            return { cardNumber, cardExpiry, cardCvc, elements };
        }

        const mountExpressCheckout = async function (stripe, clientSecret, cardNumber, monthly, elements, invoiceId) {

            const orderId = $('#product-entries').attr('order-id');

            if (!orderId) return alert('Could not mount stripe elements. Please refresh your window.');

            const order = await getOrderData(orderId);

            if (monthly) {
                $('#stripe-total').html(`${order.totalCostSingleMonth} ${order.currency} / Month`);
                $('#stripe-submit').find('span').html('Subscribe');
                $('#stripe-submit').off('click').on('click', function (e) {
                    startMonthlySubscription(stripe, clientSecret, cardNumber);
                })
            } else {
                $('#stripe-total').html(`${order.total} ${order.currency}`);
                $('#stripe-submit').find('span').html('Pay Now');
                $('#stripe-submit').off('click').on('click', function (e) {
                    chargeOneTime(stripe, clientSecret, cardNumber, null, invoiceId);
                })
            }

            const supportedCountries = [
                "AE", "AT", "AU", "BE", "BG", "BR", "CA", "CH", "CI", "CR", "CY", "CZ", "DE", "DK", "DO", "EE", "ES", "FI",
                "FR", "GB", "GI", "GR", "GT", "HK", "HR", "HU", "ID", "IE", "IN", "IT", "JP", "LI", "LT", "LU", "LV", "MT",
                "MX", "MY", "NL", "NO", "NZ", "PE", "PH", "PL", "PT", "RO", "SE", "SG", "SI", "SK", "SN", "TH", "TT", "US", "UY"
            ];

            const isSupportedCountry = supportedCountries.includes(order.countryCode) ? order.countryCode : false;

            if (!isSupportedCountry) {
                $('#expressPaySelector').siblings('label').addClass('rounded-bottom-3');
                $('#expressPaySelector').remove();
                return console.log('express pay is not supported for this country');
            }

            try {
                const amount = monthly
                    ? Math.max(1, Math.round(order.totalCostSingleMonth * 100))
                    : Math.max(1, Math.round(order.total * 100));

                const paymentRequest = stripe.paymentRequest({
                    country: order.countryCode,
                    currency: order.currency.toLowerCase(),
                    total: {
                        label: monthly ? `Monthly Subscription - ${order.orderNo}` : `One Time Payment - ${order.orderNo}`,
                        amount
                    },
                    requestPayerName: true,
                    requestPayerEmail: true,
                });

                paymentRequest.canMakePayment().then((result) => {

                    if (!result) {
                        $('#expressPaySelector').siblings('label').addClass('rounded-bottom-3');
                        $('#expressPaySelector').remove();
                        return;
                    }

                    let paymentMethods = {
                        applePay: result.applePay ? 'auto' : 'never',
                        googlePay: result.googlePay ? 'auto' : 'never',
                    };

                    const expressCheckoutElement = elements.create('expressCheckout', {
                        paymentMethodOrder: ['apple_pay', 'google_pay'],
                        paymentMethods: paymentMethods,
                        buttonType: {
                            applePay: 'donate',
                            googlePay: 'donate',
                        },
                        buttonTheme: {
                            applePay: 'white-outline',
                            googlePay: 'black',
                        },
                        buttonHeight: 55,
                    });

                    expressCheckoutElement.on("confirm", async (event) => {
                        if (monthly) {
                            startMonthlySubscription(stripe, clientSecret, null, elements);
                        } else {
                            chargeOneTime(stripe, clientSecret, null, elements, invoiceId);
                        }
                    });

                    expressCheckoutElement.mount('#express-checkout-element');

                    if (result.applePay) {
                        $('#expressPaySelector').html('Apply Pay');
                    } else if (result.googlePay) {
                        $('#expressPaySelector').html('Google Pay');
                    } else {
                        $('#expressPaySelector').html('Express Pay');
                    }
                });

            } catch (error) {
                console.log(error);
                $('#expressPaySelector').siblings('label').addClass('rounded-bottom-3');
                $('#expressPaySelector').remove();
            }
        }

        // START WIDGET

        const startWidget = async function () {
            console.log('starting widget');
            let countryCode = '{{data.donor.countryCode}}';
            if (!countryCode) {
                countryCode = "{{data.countryCode}}" || 'NO';
            }
            if (countryCode === 'NO') {
                $('#vipps-checkout').removeClass('d-none');
                $('#global-checkout').addClass('d-none');
            } else {
                $('#vipps-checkout').addClass('d-none');
                $('#global-checkout').removeClass('d-none');
            }
            localStorage.setItem('projectName', '{{data.project.name}}')
            localStorage.setItem('countryCode', countryCode);
            await createNewOrder();
            const orderId = $('#product-entries').attr('order-id');
            if (!orderId) return alert('Session expired. Please refresh your browser.');
            const order = await getOrderData(orderId);
            await drawTotalCosts(order);
            await refreshDropdowns();
            initializePopovers();

            $('[name=email]').val('{{data.donor.email}}');
            $('[name=firstName]').val('{{data.donor.firstName}}');
            $('[name=lastName]').val('{{data.donor.lastName}}');
        };

        window.onload = startWidget;

        function initializePopovers() {
            var popoverTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'));
            popoverTriggerList.forEach(function (popoverTriggerEl) {
                new bootstrap.Popover(popoverTriggerEl);
            });
        }

        const saveUserInfo = async function (elem) {
            let isValid = true;

            $('.shake').removeClass('shake');

            $('.user-info').each(function () {
                let isValidInput = true;
                $(this).removeClass('is-invalid');
                const type = $(this).attr('type');
                const value = $(this).val();
                if (type === 'email') {
                    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (!emailPattern.test(value)) {
                        isValidInput = false;
                    }
                }

                if (type === 'tel') {
                    const phoneDigits = value.replace(/\D/g, '');
                    if (phoneDigits.length < 5) {
                        isValidInput = false;
                    }
                }

                if (type === 'text') {
                    if (value.length < 3) {
                        isValidInput = false;
                    }
                }

                if (!isValidInput) {
                    isValid = false;
                    $(this).addClass('is-invalid');
                    $(this).closest('.body').addClass('shake');
                }
            });

            $('.shake').one('animationend', function () {
                $(this).removeClass('shake');
            });

            const currentBtnHtml = $('#save-user-btn').html();

            try {
                if (isValid) {
                    $('#save-user-btn').html(`<span class="spinner-border spinner-border-sm mx-2" role="status"></span> Processing ...`);
                    const monthly = $('#product-entries').attr('monthly');
                    if (monthly) {
                        await handleMonthlyPayment();
                    } else {
                        await handleOneTimePayment();
                    }

                    $('#slide-container').css({ transform: `translateX(-${2 * 100}%)` });
                    $('.back-btn').attr({ index: 2 });

                    $('#save-user-btn').html(currentBtnHtml);
                }
            } catch (error) {
                console.log(error);
                showCardError($('#save-user-btn'), error.message || error.responseText, currentBtnHtml);
            }

        };

        const createNewOrder = async function () {
            try {
                const countryCode = localStorage.getItem('countryCode');
                if (!countryCode) return alert('Could not find the country code. Refresh your browser.');
                const response = await $.ajax({
                    url: `/product-new-order/{{data.project.slug}}?countryCode=${countryCode}`,
                    method: 'GET',
                    contentType: 'application/json',
                });
                $('#product-entries').replaceWith(response);
                initializePopovers();
                return true;
            } catch (xhr) {
                console.error("Error:", xhr);
                alert("Server Error. Could not create the order.");
            }
        }

        const drawOrderEntries = async function () {
            try {
                const orderId = $('#product-entries').attr('order-id');
                if (!orderId) return console.log('orderId and slug is required!');
                const response = await $.ajax({
                    url: `/product-render-entries/${orderId}/{{data.project.slug}}`,
                    method: 'GET',
                    contentType: 'application/json',
                });
                $('#product-entries').replaceWith(response);
                initializePopovers();
            } catch (xhr) {
                console.error("Error:", xhr);
                alert('Could not fetch entries to render on your window. Refresh your window.');
            }
        }

        const getOrderData = async function (orderId) {
            try {
                const order = await $.ajax({
                    url: `/overlay-order/${orderId}`,
                    method: 'GET',
                    contentType: 'application/json',
                });
                return order;
            } catch (xhr) {
                console.error("Error:", xhr);
                alert('Order expired! Please refresh your browser.');
            }
        }

        const refreshDropdowns = async function () {
            try {
                const userCountry = localStorage.getItem('countryCode');
                if (!userCountry) return console.log('no country found!');

                const data = await $.ajax({
                    url: `/get-country-list/${userCountry}`,
                    method: 'GET',
                    contentType: 'application/json',
                    dataType: 'json'
                });

                populateCurrencyDropdown(data.countries);
                populateTelephoneDropdown(data.countries);

                $('.currency-dropdown').val(data.country.currency.code);

                $('#tel-toggle').html(`
                        <span class="flag flag-country-${data.country.code.toLowerCase()} me-1"></span>
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                    `);

                $('#tel-toggle').data({ value: data.country.code.toLowerCase() });

                $('#contact-number').val(data.country.callingCodes[0].toString());

                $('.currency-dropdown').on('change', function () {
                    const selectedOption = $(this).find(':selected');
                    const value = selectedOption.val();
                    const countryCode = selectedOption.attr('country-code');
                    if (!value || !countryCode) return console.error('value and code missing');
                    if (value === 'N/A') return alert('This currency is not supported.');
                    $('.donation-amount').html(`<span class="spinner-border spinner-border-sm ms-2" role="status"></span>`);
                    localStorage.setItem('countryCode', countryCode);
                    changeOrderCurrency(value, countryCode);
                    handleVippsDropdown(countryCode);
                });
            } catch (error) {
                console.error(error);
                alert('Could not draw elements due to a problem. Please refresh your browser.');
            }

        };

        const changeOrderCurrency = async function (currency) {
            try {
                const orderId = $('#product-entries').attr('order-id');
                await $.ajax({
                    url: `/product-update-order/${orderId}/{{data.project.slug}}?setCurrency=${currency}`,
                    method: 'POST',
                    contentType: 'application/json'
                })
                const order = await getOrderData(orderId);
                drawTotalCosts(order);
                drawOrderEntries();
                refreshDropdowns();
            } catch (error) {
                alert(error.responseText || `Server Error. Could not change the currency.`);
            }
        }

        const drawTotalCosts = async function (order) {
            if (order.total === 0) {
                const html = '<h3 class="fw-normal text-center mt-4">No product selected.</h3>';
                $('#order-total').html(html);
                $('#global-checkout').addClass('d-none');
                $('#vipps-checkout').addClass('d-none');
                return;
            }

            const countryCode = localStorage.getItem('countryCode');

            if (countryCode === 'NO') {
                $('#vipps-checkout').removeClass('d-none');
            } else {
                $('#global-checkout').removeClass('d-none');
            }

            const response = await $.ajax({
                url: `/overlay-country/${countryCode}`,
                method: 'GET',
                contentType: 'application/json',
            });

            const { country } = response;

            const createProductBtn = (entry) => {
                if (entry.orderedCost === 0) return '';
                const productHtml = `<h4 class="fw-normal my-2">${entry.name}</h4>`;
                const variantsHtml = entry.variants.map((variant) => {
                    if (variant.orderedCost === 0) return '';
                    return `
                        <div class="col-12 mb-1">
                            <div variant-id="${variant.id}" class="w-100 card card-small-variant active shadow p-2 d-flex flex-row justify-content-between">
                                <div class="text-small w-66">${variant.name}</div>
                                <div class="text-small mt-auto text-nowrap">${variant.quantity} x ${variant.price} ${order.currency}</div>
                            </div>
                        </div>
                    `;
                }).join('');
                return productHtml + variantsHtml;
            };

            const inputGroupOneTime = `
                <h4 class="fw-normal my-2">Total Amount</h4>
                <div class="col-12">
                    <div class="currency-input-container border-1 rounded-2">
                        <div class="donation-amount amount p-2 ms-1 fs-2" order-cost="${order.total}">${order.total}</div>
                        <div class="currency-selector">
                            ${order.currency}
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="ms-1 icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                        </div>
                        <select class="currency-dropdown">
                        </select>
                    </div>
                </div>
            `;

            let wrapper = '<div id="products-selected">';
            order.products.forEach((entry) => {
                wrapper += createProductBtn(entry);
            });

            html = wrapper + '</div>' + inputGroupOneTime;

            $('#order-total').html(html);

            refreshDropdowns();

            $('.card-small-variant').on('click', async function () {
                const variantId = $(this).attr('variant-id');
                const leftCard = $(`.variant[variant-id="${variantId}"]`);
                const { orderId } = changeOrderVariant(leftCard);
                const response = await $.ajax({
                    url: `/product-update-order/${orderId}/{{data.project.slug}}?removeVariant=true&variantId=${variantId}`,
                    method: 'POST',
                    contentType: 'application/json'
                })
                leftCard.replaceWith(response);
                const order = await getOrderData(orderId);
                drawTotalCosts(order);
                refreshDropdowns();
            })

        }

        $('.toggle-faq').on('click', function () {
            let answer = $(this).next('.faq-answer');
            let icon = $(this).find('i');
            $(this).toggleClass('fw-normal fw-bold');
            answer.toggleClass('d-none');
            icon.toggleClass('ti-chevron-right ti-chevron-down');
        });

        function formatNumberToShortenedVersion(number) {
            if (number >= 1000) {
                const suffixes = ['k', 'M', 'B', 'T'];
                const orderOfMagnitude = Math.floor(Math.log10(number) / 3);
                const shortNumber = (number / Math.pow(1000, orderOfMagnitude)).toFixed(0);

                return `${shortNumber}${suffixes[orderOfMagnitude - 1]}`;
            }

            return number.toString();
        }

        $('[freq]').on('click', async function (e) {

            const countryCode = localStorage.getItem('countryCode');
            const freq = $(this).attr('freq');

            $('.donation-amount').removeClass('active');
            if (freq === 'once') {
                $('#one-time-save-donation').removeClass('d-none');
                $('#monthly-save-donation').addClass('d-none');
                $('#global-one-time-donation').removeClass('d-none');
                $('#global-monthly-donation').addClass('d-none');
                $('.donation-amount').first().addClass('active');
                $('#project-card').attr({ monthly: false });
            } else {
                $('#one-time-save-donation').addClass('d-none');
                $('#monthly-save-donation').removeClass('d-none');
                $('#global-one-time-donation').addClass('d-none');
                $('#global-monthly-donation').removeClass('d-none');
                $('.donation-amount').last().addClass('active');
                $('#project-card').attr({ monthly: true });
            }

            const orderId = $('#product-entries').attr('order-id');
            if (!orderId) return console.error('no order id provided');
            let url;
            if (freq === 'once') {
                url = `/widget-update-order/${orderId}/{{data.project.slug}}?monthlySubscription=false`;
            } else {
                url = `/widget-update-order/${orderId}/{{data.project.slug}}?monthlySubscription=true`;
            }
            await $.ajax({
                url,
                method: 'POST',
                contentType: 'application/json',
                success: (response) => {
                    drawOrderEntries();
                    refreshDropdowns();
                },
                error: (xhr, status, error) => {
                    console.log(error);
                    alert('Order expired. Please refresh your browser.');
                }
            })

        });

        $('#tel-toggle').on('show.bs.dropdown', function () {
            $('#tel-toggle').find('svg').replaceWith(`
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
    `);
        });

        $('#tel-toggle').on('shown.bs.dropdown', function () {
            const selectedCountryCode = $('#tel-toggle').data('value');
            const selectedCountryItem = $(`.dropdown-item[data-value="${selectedCountryCode}"]`);
            $('#tel-codes').find('.bg-hover').removeClass('bg-hover');
            if (selectedCountryItem.length > 0) {
                $('#tel-codes').scrollTop(selectedCountryItem[0].offsetTop - $('#tel-codes')[0].offsetTop - 150);
                $('#tel-codes').find('.bg-hover').removeClass('bg-hover');
                $(selectedCountryItem).addClass('bg-hover');
            }
        });

        $('#tel-toggle').on('hidden.bs.dropdown', function () {
            $('#tel-toggle').find('svg').replaceWith(`
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
    `);
        });

        function findCommonPrefix(callingCodes) {
            if (!callingCodes.length) return '';

            let prefix = callingCodes[0]; // Start with the first code

            for (let i = 1; i < callingCodes.length; i++) {
                while (!callingCodes[i].startsWith(prefix)) {
                    prefix = prefix.slice(0, -1); // Shorten prefix character by character
                    if (prefix.length === 0) return ''; // No common prefix
                }
            }

            return prefix;
        }

        const populateTelephoneDropdown = function (countries) {
            const dropdown = $('#tel-codes');
            const shortenCountryName = (str) => {
                return str.length > 15 ? str.slice(0, 15) + '...' : str;
            };
            countries = countries.filter((country) => country.callingCodes.length > 0 && country.callingCodes[0] !== '');

            countries.forEach((country) => {
                const countryItem = $('<a>', {
                    class: 'dropdown-item',
                    'data-value': country.code.toLowerCase(),
                    href: '#',
                });

                country.telCode = findCommonPrefix(country.callingCodes);

                countryItem.html(`
                ${shortenCountryName(country.name)} (${country.telCode})
                <span class="flag flag-country-${country.code.toLowerCase()}"></span>
            `);

                dropdown.append(countryItem);

                countryItem.on('click', function () {
                    $('#tel-toggle').data({ value: country.code.toLowerCase() });
                    $('#tel-toggle').html(`<span class="flag flag-country-${country.code.toLowerCase()}"></span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                `);
                    let currentValue = $('#contact-number').val();
                    if (currentValue.length > 0) {
                        currentValue = currentValue.replace(' ', '');
                        let oldMask = maskList.find((mask) => currentValue.startsWith(mask.code.split(' ')[0]));
                        let oldCode = oldMask ? oldMask.code.split(' ')[0] : '';
                        let remainingNumber = currentValue.replace(oldCode, '').trim();
                        $('#contact-number').val(country.telCode + remainingNumber);
                        $('#contact-number').trigger('input');
                    } else {
                        $('#contact-number').val(country.telCode);
                    }
                });

                countryItem.on('mouseover', function () {
                    $(this).siblings().removeClass('bg-hover');
                    $(this).addClass('bg-hover');
                });
            });

            $('#contact-number').on('input', function () {
                let inputVal = $(this).val().trim();

                if (inputVal.startsWith('00')) {
                    inputVal = '+' + inputVal.slice(2);
                }

                let matchedCountry = countries
                    .filter((country) => country.callingCodes.some((code) => inputVal.startsWith(code)))
                    .sort((a, b) => {
                        let maxCodeA = Math.max(...a.callingCodes.map((code) => code.length));
                        let maxCodeB = Math.max(...b.callingCodes.map((code) => code.length));
                        return maxCodeB - maxCodeA;
                    })[0];

                if (matchedCountry) {
                    $('#tel-toggle').data({ value: matchedCountry.code.toLowerCase() });
                    $('#tel-toggle').html(`<span class="flag flag-country-${matchedCountry.code.toLowerCase()}"></span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                `);

                    let phoneMask = maskList.find((mask) => inputVal.startsWith(mask.code.split(' ')[0]));

                    if (phoneMask) {
                        let formattedNumber = formatPhoneNumber(inputVal, phoneMask.code);
                        $(this).val(formattedNumber);
                    }
                } else {
                    console.log('match not found');
                }
            });
        };

        function formatPhoneNumber(number, mask) {
            let digits = number.replace(/\D/g, ''); // Remove non-numeric characters
            let maskParts = mask.split(' ');
            let dialingCode = maskParts[0]; // Extract country dialing code (e.g., "+47")

            // Extract only the dialing code part from the input
            let dialingCodeInInput = dialingCode;
            let remainingDigits = digits.slice(dialingCodeInInput.length - 1); // Remove the dialing code from input

            let formattedNumber = dialingCodeInInput; // Start with the dialing code

            // Apply the rest of the mask formatting
            let remainingMask = ' ' + maskParts.slice(1).join(' '); // Everything after the dialing code
            let digitIndex = 0;

            let remainingMaskWithOutSpaces = maskParts.slice(1).join('');

            if (remainingDigits.length > remainingMaskWithOutSpaces.length) {
                formattedNumber = `${dialingCode} ${remainingDigits}`;
                return formattedNumber.trim();
            }

            for (let i = 0; i < remainingMask.length; i++) {
                if (remainingMask[i] === '#') {
                    if (digitIndex < remainingDigits.length) {
                        formattedNumber += remainingDigits[digitIndex];
                        digitIndex++;
                    } else {
                        return formattedNumber.trim();
                    }
                } else {
                    formattedNumber += remainingMask[i];
                }
            }

            return formattedNumber.trim();
        }

        const priorityCurrencies = [
            {
                currency: 'NOK',
                country: 'Norway',
                countryCode: 'NO',
            },
            {
                currency: 'USD',
                country: 'United States',
                countryCode: 'US',
            },
            {
                currency: 'EUR',
                country: 'Europian Union',
                countryCode: 'DE',
            },
            {
                currency: 'GBP',
                country: 'United Kingdom',
                countryCode: 'GB',
            },
        ];

        const populateCurrencyDropdown = function (currencies) {
            const priorityGroup = document.createElement('optgroup');

            priorityCurrencies.forEach((country) => {
                const option = document.createElement('option');
                option.value = country.currency;
                option.setAttribute('country-code', country.countryCode);
                option.textContent = `${country.currency} · ${country.country}`;
                priorityGroup.appendChild(option);
            });

            $('.currency-dropdown').append(priorityGroup);

            const otherGroup = document.createElement('optgroup');

            currencies.forEach((country) => {
                const option = document.createElement('option');
                option.value = country.currency.code;
                option.setAttribute('country-code', country.code);
                option.textContent = `${country.currency.code} · ${country.name}`;
                otherGroup.appendChild(option);
            });

            $('.currency-dropdown').append(otherGroup);
        };

        $('#organizationCheckbox').on('change', function () {
            const inputContainer = $('#organizationInputContainer');
            if ($(this).prop('checked')) {
                inputContainer.removeClass('d-none');
                inputContainer.html(`
                    <div class="form-floating">
                        <input type="text" class="user-info form-control" id="organizationName" placeholder="Organization Name">
                        <label for="organizationName">Organization Name</label>
                    </div>
                `);
            } else {
                inputContainer.addClass('d-none');
                inputContainer.html('');
            }
        });

        $('.back-btn').on('click', async function (e) {
            try {
                const index = Number($(this).attr('index'));
                $('.back-btn').attr({ index: index - 1 });
                $('#slide-container').css({ transform: `translateX(-${(index - 1) * 100}%)` });
                if (index === 1) {
                    const orderId = $('#product-entries').attr('order-id');
                    const btn = getVisibleBtnFirstSlide();
                    const currentBtnHtml = $(btn).html();
                    $(btn).html(`
                        <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                        Processing
                    `);
                    await $.ajax({
                        url: `/product-update-order/${orderId}/{{data.project.slug}}?checkin=true`,
                        method: 'POST',
                        contentType: 'application/json',
                    });
                    $(btn).html(currentBtnHtml);
                    drawOrderEntries();
                    refreshDropdowns();
                }
            } catch (error) {
                console.log(error);
                alert('Order expired. Please refresh your browser.');
            }
        });

        const saveDonationAmount = async function (elem) {
            try {
                const orderId = $('#product-entries').attr('order-id');
                const btn = getVisibleBtnFirstSlide();
                const currentBtnHtml = $(btn).html();
                $(btn).html(`
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    Processing
                `);
                await $.ajax({
                    url: `/product-update-order/${orderId}/{{data.project.slug}}?checkout=true`,
                    method: 'POST',
                    contentType: 'application/json',
                });
                $(btn).html(currentBtnHtml);
                $('#slide-container').css({ transform: `translateX(-${1 * 100}%)` });
                $('.back-btn').attr({ index: 1 });
                drawOrderEntries();
                drawTotalCosts(await getOrderData(orderId));
            } catch (error) {
                const visiblebtn = getVisibleBtnFirstSlide();
                const currentBtnHtml = $(visiblebtn).html();
                showCardError(visiblebtn, 'Order expired, please refresh your window', currentBtnHtml);
            }

        };

        $(document).on('input change', 'input', function (e) {
            $(this).closest('div').find('.is-invalid').removeClass('is-invalid');
        });

        const selectPaymentBtn = function (elem) {
            $(elem).siblings('.btn').removeClass('active');
            $(elem).addClass('active');

            const value = $(elem).data('value');

            if (value === 'creditCard') {
                $('#express-checkout-wrapper').addClass('d-none');
                $('#credit-checkout').addClass('d-none');
                $('#payment-form').removeClass('d-none');
                $('#stripe-submit').removeClass('d-none');
            } else if (value === 'expressPay') {
                $('#express-checkout-wrapper').removeClass('d-none');
                $('#credit-checkout').removeClass('d-none');
                $('#stripe-submit').addClass('d-none');
                $('#payment-form').addClass('d-none');
            }
        }

        $(document).on('click', ".popover-card", function (event) {
            $('[data-bs-toggle="popover"]').not($(this).find('[data-bs-toggle="popover"]')).popover("hide");
            let popoverElement = $(this).find('[data-bs-toggle="popover"]');
            popoverElement.popover("toggle");
            event.stopPropagation();
        });

        document.addEventListener('click', function (event) {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            popoverTriggerList.forEach(function (popoverTriggerEl) {
                const popover = bootstrap.Popover.getInstance(popoverTriggerEl);
                if (popover && popover._isShown && !popoverTriggerEl.contains(event.target)) {
                    popover.hide();
                }
            });
        });

        const renderNoOrder = async function () {
            await $.ajax({
                url: `/widget-render-no-order-total`,
                method: 'GET',
                contentType: 'application/json',
                success: response => {
                    $('#no-order-total').replaceWith(response);
                },
                fail: error => {
                    console.log(error);
                    alert('Could not render total screen. Please refresh your window.');
                }
            });
            await $.ajax({
                url: `/widget-render-no-order-entries/{{data.project.slug}}`,
                method: 'GET',
                contentType: 'application/json',
                success: response => {
                    $('#product-entries').replaceWith(response);
                },
                fail: error => {
                    console.log(error);
                    alert('Could not render beneficiary screen. Please refresh your window.');
                }
            });
        }

        $(document).on('click', '#close-overlay', async function () {
            window.parent.postMessage('close-overlay', '*');
        });

        $(document).ajaxSend(function (event, jqXHR, settings) {
            console.log("URL:", settings.url);
        });

        function triggerEvent(eventName, data = {}) {
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                event: eventName,
                ...data
            });
        }

        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push = (function (originalPush) {
            return function (eventData) {
                originalPush.call(this, eventData);

                if (eventData.event) {
                    window.dispatchEvent(new CustomEvent(eventData.event, { detail: eventData }));
                }
            };
        })(window.dataLayer.push);

        window.addEventListener('paymentSuccessful', (e) => {
            console.log('Event received:', e.detail);
        });

        $(document).ajaxComplete(function (event, xhr, settings) {
            let url = settings.url;
            if (!url.startsWith('http')) {
                url = new URL(url, window.location.origin).href;
            }

            const urlObject = new URL(url);
            const queryParams = Object.fromEntries(urlObject.searchParams.entries());
            triggerEvent('ajax', {
                ajaxUrl: 'https://example.com/api',
                queryParams,
            });
        });


        // PRODUCT SPECIFIC METHODS

        const addToOrder = async (elem) => {
            try {
                const { orderId, variantId } = changeOrderVariant(elem);
                const response = await $.ajax({
                    url: `/product-update-order/${orderId}/{{data.project.slug}}?incrementVariant=true&variantId=${variantId}`,
                    method: 'POST',
                    contentType: 'application/json',
                });
                $(elem).closest('.variant').replaceWith(response);
                const order = await getOrderData(orderId);
                drawTotalCosts(order);
                refreshDropdowns();
            } catch (error) {
                console.log(error);
                alert(error.message || error.responseText || 'Order expired. Please refresh your browser.');
            }
        }

        const removeFromOrder = async (elem) => {
            try {
                const { orderId, variantId } = changeOrderVariant(elem);
                const response = await $.ajax({
                    url: `/product-update-order/${orderId}/{{data.project.slug}}?decrementVariant=true&variantId=${variantId}`,
                    method: 'POST',
                    contentType: 'application/json',
                });
                $(elem).closest('.variant').replaceWith(response);
                const order = await getOrderData(orderId);
                drawTotalCosts(order);
                refreshDropdowns();
            } catch (error) {
                console.log(error);
                alert(error.message || error.responseText || 'Order expired. Please refresh your browser.');
            }
        }

        const changeOrderVariant = (elem) => {
            const orderId = $('#product-entries').attr('order-id');
            const variantId = $(elem).closest('.variant').attr('variant-id');
            if (!orderId || !variantId) {
                console.log({ orderId, variantId });
                throw new Error('Order Id and entry Id are required');
            }
            $('.donation-amount').html(`<span class="spinner-border spinner-border-sm ms-2" role="status"></span>`);
            const variant = $(elem).closest('.variant');
            $(variant).find('.ti:first').replaceWith(`
                    <span class="text-small spinner-border spinner-border-sm mt-1" role="status" 
                    style="width: 10px; height: 10px; margin-right: 12px"></span>`);
            return { orderId, variantId };
        }

    </script>

</body>

</html>