<!DOCTYPE html>
<html>

<head></head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
    <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center">
            <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png"
                style="height: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo" />
        </div>
        <h2 style="color: #333333;">⭐️ Thank you for your order!</h2>
        <p style="color: #333333;">Assalam o Alaikum, dear {{name}},</p>
        <p style="color: #333333; line-height: 1.5rem;">
            We are truly grateful for your support in our mission to aid children and families affected by conflict,
            disaster, and displacement. Your generosity helps us provide critical relief where it's needed most.
        </p>
        {{#if invoiceNreceipt}}
        <p style="color: #333333; line-height: 1.5rem; margin-bottom: 4px;">
            Below, you’ll find secure links to download your invoice and receipt for your recent order:
        </p>
        <a href="{{invoiceUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-right: 5px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Click to download invoice
        </a>
        <a href="{{receiptUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Click to download receipt
        </a>
        {{/if}}
        {{#if invoiceOnly}}
        Thank you for your recent order. Please find your invoice attached to this email. If you have any questions
        or concerns, please don’t hesitate to reach out to us at <a
            href="mailto:info@admin.akeurope.org">info@admin.akeurope.org</a>.
        {{/if}}
        {{#if receiptOnly}}
        <p style="color: #333333; line-height: 1.5rem; margin-bottom: 4px;">
            Below is the secure link to download your receipt.
        </p>
        <a href="{{receiptUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Click to download receipt
        </a>
        {{/if}}
        {{#if newUser}}
        <p style="color: #333333; line-height: 1.5rem; margin-bottom: 4px; margin-top: 10px;">
            We’re excited to introduce our newly built Alkhidmat Europe Customer Portal, designed to make managing your
            donations easier than ever. With this portal, you can easily track your contributions, download receipts,
            and stay informed about the impact you’re making—all in one secure place.
            <strong> Please note, the invite link below
                will expire in 24 hours.</strong>
        </p>
        <a href="{{portalUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; margin-right:20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Invited 🎊 to Customer Portal
        </a>
        {{else}}
        <p style="color: #333333; line-height: 1.5rem; margin-bottom: 4px; margin-top: 10px;">
            You can access your donation history and manage your contributions anytime through the Alkhidmat Europe
            Customer Portal.
        </p>
        <a href="{{portalUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; margin-right:20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Go to Customer Portal
        </a>
        {{/if}}
        <p style="color: #333333; line-height: 1.5rem; margin-top: 10px">
            If you have any questions or need assistance, feel free to reply to this email or contact Abdul Wahab
            directly via WhatsApp at +47 457 82 299.
        </p>
        <p style="color: #333333; line-height: 1.5rem;">
            Thank you for being part of this vital cause. Your generosity is making a real difference.
        </p>
        <p style="color: #333333; line-height: 1.5rem;">
            With gratitude,<br>The Alkhidmat Europe Team <br> <a href="https://akeurope.org"
                style="text-decoration: none; color: #007A78">akeurope.org</a>
        </p>
    </div>
</body>

</html>