<!DOCTYPE html>
<html>

<head></head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f7; color: #333333; margin: 0; padding: 0;">
    <div style="width: 90%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
        <div style="text-align: center">
            <img src="https://res.cloudinary.com/miscellaneous/image/upload/v1729975173/akeurope/logo-full.png"
                style="height: 35px; margin-bottom: 20px; margin-top: 20px" alt="akeurope.org Logo" />
        </div>
        <p style="color: #333333; line-height: 1.3rem;">Assalam o Alaikum, dear {{name}},</p>
        <p style="color: #333333; line-height: 1.3rem;">
            We have received your monthly subscription of {{amount}} NOK in {{projectName}} (Order # {{order.orderNo}}).
            {{#if multipleCharges}}
            Your donation history in this order is as under.
            {{/if}}
        </p>
        <table style="width: 100%; border-collapse: collapse; margin-top: 15px;">
            <thead>
                <tr style="background-color: #f5f5f5;">
                    <th style="text-align: left; padding: 8px; border-bottom: 1px solid #dddddd;">Date</th>
                    <th style="text-align: right; padding: 8px; border-bottom: 1px solid #dddddd;">Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each chargesArray}}
                <tr {{#if @last}}style="color: red; font-weight: bold;"{{/if}}>
                    <td style="padding: 8px; color: #333333;">{{this.createdAt}} </td>
                    <td style="padding: 8px; text-align: right; color: #333333;">{{this.amount}} NOK</td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr style="background-color: #f5f5f5;">
                    <td style="padding: 8px; text-align: left; font-weight: bold; border-top: 1px solid #dddddd;">Total
                    </td>
                    <td style="padding: 8px; text-align: right; font-weight: bold; border-top: 1px solid #dddddd;">
                        {{ order.totalCost }} {{order.currency}}</td>
                    </td>
                </tr>
            </tfoot>
        </table>

        {{#if newUser}}
        <p style="color: #333333; line-height: 1.3rem; margin-bottom: 4px; margin-top: 10px;">
            You can view your profile details, payment history and beneficiaries in our customer portal at below link. Please note, below link will expire in 24 hours. You can generate a new link after it is expired with your email.
        </p>
        <a href="{{portalUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; margin-right:20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Invited 🎊 to Customer Portal
        </a>
        {{else}}
        <p style="color: #333333; line-height: 1.3rem; margin-bottom: 4px; margin-top: 10px;">
            You can view your profile details, payment history and beneficiaries in our customer portal at below link. 
        </p>
        <a href="{{portalUrl}}"
            style="display: inline-block; padding: 10px 20px; margin-top: 5px; margin-bottom: 10px; margin-right:20px; background-color: #007A78; color: #ffffff; text-decoration: none; border-radius: 4px;">
            Go to Customer Portal
        </a>
        {{/if}}
        <p style="color: #333333; line-height: 1.3rem; margin-top: 10px">
            If you have any questions, feel free to reply to this email or contact us directly at <strong>+47 40150015</strong>.
        </p>
        <p style="color: #333333; line-height: 1.3rem;">
            Thank you for being part of this vital cause. Your generosity is making a real difference.
        </p>
        <p style="color: #333333; line-height: 1.3rem;">
            With gratitude,<br>The Alkhidmat Europe Team <br> <a href="https://akeurope.org"
                style="text-decoration: none; color: #007A78">akeurope.org</a>
        </p>
    </div>
</body>

</html>