<ul class="steps steps-vertical">
    {{#if (eq order.status 'draft')}}
    <li class="step-item active">
        <div class="h4 m-0">Editable</div>
        <div class="text-secondary">Editable mode. Invoices can't be edited after they are checked out.
            {{#if body}}Open invoice to make changes.{{/if}}
            {{#if modal}}<a class="cursor-pointer text-primary" onclick="orderStatusPendingPayment(this)">click here to checkout</a>.{{/if}}
        </div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Upload Proof of payment</div>
        <div class="text-secondary">Upload a proof of payment like bank receipt or wire transfer in a photo or pdf formats.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Processing</div>
        <div class="text-secondary">Pending payment confirmation from akeurope team.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Paid</div>
        <div class="text-secondary">Invoice is paid. Subscribed beneficiaries are added to your
            portfolio.
        </div>
    </li>
    {{/if}}
    {{#if (eq order.status 'pending payment')}}
    <li class="step-item">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Checked Out
        </div>
        <div class="text-secondary">Invoices can not be changed after checking out.</div>
    </li>
    <li class="step-item active">
        <div class="h4 m-0">Upload Proof of payment</div>
        <div class="text-secondary"> Upload a proof of payment like bank receipt or wire transfer in a photo or pdf formats.
            <a class="cursor-pointer text-primary" onclick="uploadPaymentProof(this)">Click here
                to upload proof of payment</a>.
        </div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Processing</div>
        <div class="text-secondary">Pending payment confirmation from akeurope team.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Paid</div>
        <div class="text-secondary">Invoice is paid. Subscribed beneficiaries are added to your
            portfolio.
        </div>
    </li>
    {{/if}}
    {{#if (eq order.status 'processing')}}
    <li class="step-item">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Checked Out
        </div>
        <div class="text-secondary">Invoices can not be changed after checking out.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Uploaded Payment Proof
        </div>
        <div class="text-secondary">
            Payment proof added to the invoice.
        </div>
    </li>
    <li class="step-item active">
        <div class="h4 m-0">Processing</div>
        <div class="text-secondary">Pending payment confirmation from akeurope team.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">Paid</div>
        <div class="text-secondary">Invoice is paid. Subscribed beneficiaries are added to your
            portfolio.
        </div>
    </li>
    {{/if}}
    {{#if (eq order.status 'paid')}}
   <li class="step-item">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Checked Out
        </div>
        <div class="text-secondary">Invoices can not be changed after checking out.</div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Uploaded Payment Proof
        </div>
        <div class="text-secondary">
            Payment proof added to the invoice.
        </div>
    </li>
    <li class="step-item">
        <div class="h4 m-0">{{{getOrderIcon 'done'}}} Processing</div>
        <div class="text-secondary">Pending payment confirmation from akeurope team.</div>
    </li>
    <li class="step-item active">
        <div class="h4 m-0">
            {{{getOrderIcon 'done'}}}
            Paid</div>
        <div class="text-secondary">Invoice is paid. Subscribed beneficiaries are added to your
            portfolio.
        </div>
    </li>
    {{/if}}


</ul>