<li class="step-item">
    <div class="d-flex align-items-center justify-content-between mb-1 overflow-hidden">
        <div class="d-flex align-items-center">
            <span class="badge">{{formatTime log.timestamp}}</span>
            <span class="badge bg-transparent fs-5">by</span>
            {{#if (eq log.actorType 'user')}}
            <span class="badge bg-green-lt">
                AKEurope Team
            </span>
            {{else}}
            <span class="badge bg-red-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit">{{log.actor.name}}</a>
            </span> 
            {{/if}}
        </div>
        <div class="flex-grow-1 mx-2">
            <hr class="my-2">
        </div>
    </div>
    <div class="">
        {{#if removeLinks}}
        {{#unless hideUpdates}}{{{removeLinks log.action}}}<br>{{/unless}}
        {{else}}
        {{#unless hideUpdates}}{{{log.action}}}<br>{{/unless}}
        {{/if}}
        {{#if log.changes}}
        {{#each log.changes}}
        {{#unless (eq @index 0)}}<br>{{/unless}}
        {{#if (eq this.key 'status')}}
        <span class="badge bg-red-lt mt-1">{{camelCaseToNormalString this.key}}</span>
        {{else}}
        <span class="badge bg-green-lt mt-1">{{camelCaseToNormalString this.key}}</span>
        {{/if}}
        {{#if this.oldValue}}
        <span class="text-decoration-line-through">{{{removeLinks this.oldValue}}}</span>
        {{/if}}
        {{#if this.newValue}}
        <span>{{{removeLinks this.newValue}}}</span>
        {{/if}}
        {{#if this.changes}}
        {{#each this.changes as |change|}}
        {{#if this.details}}
        <span class="badge bg-grey-lt">{{this.fieldName}}</span>
        <span class="text-strong">{{capitalizeFirstLetter this.action}}</span>
        {{else}}
        <span class="badge bg-grey-lt">{{camelCaseToNormalString this.key}}</span>
        <span class="text-decoration-line-through">{{this.oldValue}}</span>
        <span>{{this.newValue}}</span>
        {{/if}}
        {{/each}}
        {{/if}}
        {{/each}}
        {{/if}}
    </div>
</li>